/*___ Header start ___*/
header {
  box-shadow: var(--shadow-1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  transition: var(--trans);
}
header.scrolled {
  background-color: var(--transparent-bg);
  box-shadow: var(--shadow-1);
  backdrop-filter: blur(15px);
}
nav {
  max-width: 2000px;
  margin: 0 auto;
}
nav,
.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
header .logo a {
  font-size: 30px;
  font-family: var(--cursive-font);
  font-weight: bold;
  display: inline-block;
  height: 70px;
  line-height: 80px;
  transition: var(--trans);
}
header .logo a span {
  color: var(--main_color);
}
header.scrolled .logo a {
  height: 55px;
  line-height: 55px;
}
.menu ul li {
  margin-left: 30px;
}
.menu ul li a {
  position: relative;
  transition: var(--trans);
  font-size: 14px;
}
.menu ul li a::after {
  content: "";
  background-color: var(--main_color);
  width: 100%;
  height: 3px;
  border-radius: 10px;
  transition: var(--trans);
  position: absolute;
  bottom: -3px;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.menu ul li a:hover,
.menu ul li a.active,
.menu ul li a.active::after {
  color: var(--main_color);
  opacity: 1;
}
.nav-toggler {
  display: none;
  color: var(--text);
  font-size: 30px;
  transition: var(--trans);
  cursor: pointer;
  z-index: 100;
}
/*___ Header end ___*/

@media screen and (max-width: 820px) {
  header .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header.scrolled .logo a {
    height: 80px;
    line-height: 80px;
  }
  .menu ul {
    display: block;
    background: var(--transparent-bg);
    backdrop-filter: blur(15px);
    width: 60%;
    height: 100vh;
    padding-top: 80px;
    position: absolute;
    top: 0;
    right: -500px;
    transition: var(--trans);
    overflow-y: auto;
  }
  .menu ul.active {
    right: 0%;
  }
  .menu ul li {
    margin-left: 0px;
  }
  .menu ul li a {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .menu ul li a.active::after {
    display: none;
  }

  .nav-toggler {
    display: block;
  }
}
